# Import All libraries

In [1]:
import pandas as pd
import numpy as np

from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix

from sklearn import tree


from sklearn.model_selection import GridSearchCV

import graphviz
#!conda install --yes python-graphviz
#!conda install --yes graphviz

import matplotlib.pyplot as plt
from sklearn.feature_extraction.text import TfidfVectorizer,CountVectorizer

In [2]:
import pandas as pd
import numpy as np

from sklearn import preprocessing
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer

from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import OneHotEncoder
from sklearn.model_selection import train_test_split
from sklearn.pipeline import Pipeline
from sklearn.model_selection import GridSearchCV, RandomizedSearchCV

from sklearn.svm import SVC
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix

import matplotlib.pyplot as plt
import seaborn as sns
from imblearn.over_sampling import SMOTE
from sklearn.metrics import accuracy_score, recall_score, precision_score

import warnings
warnings.filterwarnings('ignore')

Using TensorFlow backend.

# Read Data

In [3]:
train_data=pd.read_json('train.json')

In [4]:
test_data=pd.read_json('test.json')

# Understand Data

In [5]:
train_data.head()

       cuisine     id                                        ingredients
0        greek  10259  [romaine lettuce, black olives, grape tomatoes...
1  southern_us  25693  [plain flour, ground pepper, salt, tomatoes, g...
2     filipino  20130  [eggs, pepper, salt, mayonaise, cooking oil, g...
3       indian  22213                [water, vegetable oil, wheat, salt]
4       indian  13162  [black pepper, shallots, cornflour, cayenne pe...

In [6]:
type(train_data)

pandas.core.frame.DataFrame

In [7]:
train_data.shape

(39774, 3)

In [8]:
train_data.ingredients.head(1)

0    [romaine lettuce, black olives, grape tomatoes...
Name: ingredients, dtype: object

In [9]:
train_data.ingredients=train_data.ingredients.apply(' '.join)
test_data.ingredients=test_data.ingredients.apply(' '.join)

In [10]:
train_data.shape

(39774, 3)

# Add train, test

In [11]:
ing=train_data.ingredients

In [12]:
type(ing)

pandas.core.series.Series

In [13]:
ing.shape

(39774,)

In [14]:
ing.head()

0    romaine lettuce black olives grape tomatoes ga...
1    plain flour ground pepper salt tomatoes ground...
2    eggs pepper salt mayonaise cooking oil green c...
3                       water vegetable oil wheat salt
4    black pepper shallots cornflour cayenne pepper...
Name: ingredients, dtype: object

In [15]:
ing.tail()

39769    light brown sugar granulated sugar butter warm...
39770    KRAFT Zesty Italian Dressing purple onion broc...
39771    eggs citrus fruit raisins sourdough starter fl...
39772    boneless chicken skinless thigh minced garlic ...
39773    green chile jalapeno chilies onions ground bla...
Name: ingredients, dtype: object

In [16]:
test_data.tail()

         id                                        ingredients
9939  30246  large egg yolks fresh lemon juice sugar bourbo...
9940  36028   hot sauce butter sweet potatoes adobo sauce salt
9941  22339  black pepper salt parmigiano reggiano cheese r...
9942  42525  cheddar cheese cayenne paprika plum tomatoes g...
9943   1443  cold water olive oil lime wedges garlic cloves...

In [17]:
test_data.head()

      id                                        ingredients
0  18009  baking powder eggs all-purpose flour raisins m...
1  28583  sugar egg yolks corn starch cream of tartar ba...
2  41580  sausage links fennel bulb fronds olive oil cub...
3  29752  meat cuts file powder smoked sausage okra shri...
4  35687  ground black pepper salt sausage casings leeks...

In [18]:
train_data.shape

(39774, 3)

In [19]:
test_data.shape

(9944, 2)

In [20]:
test_data_full = pd.concat([test_data.ingredients, ing], ignore_index=True)

In [21]:
test_data_full.shape

(49718,)

In [22]:
test_data_full.head()

0    baking powder eggs all-purpose flour raisins m...
1    sugar egg yolks corn starch cream of tartar ba...
2    sausage links fennel bulb fronds olive oil cub...
3    meat cuts file powder smoked sausage okra shri...
4    ground black pepper salt sausage casings leeks...
Name: ingredients, dtype: object

In [23]:
test_data_full.tail()

49713    light brown sugar granulated sugar butter warm...
49714    KRAFT Zesty Italian Dressing purple onion broc...
49715    eggs citrus fruit raisins sourdough starter fl...
49716    boneless chicken skinless thigh minced garlic ...
49717    green chile jalapeno chilies onions ground bla...
Name: ingredients, dtype: object

In [24]:
test_data_df_full=pd.DataFrame(test_data_full)

In [25]:
test_data_df_full.iloc[9944,:]

ingredients    romaine lettuce black olives grape tomatoes ga...
Name: 9944, dtype: object

In [26]:
test_data_df_full.tail()

                                             ingredients
49713  light brown sugar granulated sugar butter warm...
49714  KRAFT Zesty Italian Dressing purple onion broc...
49715  eggs citrus fruit raisins sourdough starter fl...
49716  boneless chicken skinless thigh minced garlic ...
49717  green chile jalapeno chilies onions ground bla...

# Apply TF on full data so we can get same columns in train, val, test

In [27]:
# sklearn.feature_extraction.text.CountVectorizer - Convert a collection of text documents to a matrix of token counts
tf_vectorizer_train = CountVectorizer(ngram_range=(1,1))
train_data1= tf_vectorizer_train.fit_transform(test_data_df_full.ingredients)         # tfs are calculated by CountVectorizer's fit_transform()

In [28]:
train_data1.shape

(49718, 3167)

In [29]:
train_data1=pd.DataFrame(train_data1.toarray(), columns= tf_vectorizer_train.get_feature_names()) # Array mapping from feature integer indices to feature name

In [30]:
train_data1.head()

,00,10,100,14,15,25,33,40,43,50,...,za,zabaglione,zatarains,zatarainâ,zero,zest,zesty,zinfandel,ziti,zucchini
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [31]:
train_data1.shape

(49718, 3167)

In [32]:
train_data2=train_data1.drop(train_data1.index[0:9944])

In [33]:
train_data2.shape

(39774, 3167)

In [34]:
test_data.head()

      id                                        ingredients
0  18009  baking powder eggs all-purpose flour raisins m...
1  28583  sugar egg yolks corn starch cream of tartar ba...
2  41580  sausage links fennel bulb fronds olive oil cub...
3  29752  meat cuts file powder smoked sausage okra shri...
4  35687  ground black pepper salt sausage casings leeks...

In [35]:
train_data.shape

(39774, 3)

In [36]:
train_data2.tail()

,00,10,100,14,15,25,33,40,43,50,...,za,zabaglione,zatarains,zatarainâ,zero,zest,zesty,zinfandel,ziti,zucchini
49713,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
49714,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
49715,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
49716,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
49717,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [37]:
train_data2.reset_index(inplace = True)

In [38]:
train_data2.drop("index",axis=1,inplace=True)

In [39]:
train_data.tail()

       cuisine     id                                        ingredients
39769    irish  29109  light brown sugar granulated sugar butter warm...
39770  italian  11462  KRAFT Zesty Italian Dressing purple onion broc...
39771    irish   2238  eggs citrus fruit raisins sourdough starter fl...
39772  chinese  41882  boneless chicken skinless thigh minced garlic ...
39773  mexican   2362  green chile jalapeno chilies onions ground bla...

In [40]:
train_data3 = pd.concat([train_data, train_data2], axis=1)

In [41]:
train_data3.shape

(39774, 3170)

In [42]:
train_data3.head()

,cuisine,id,ingredients,00,10,100,14,15,25,33,...,za,zabaglione,zatarains,zatarainâ,zero,zest,zesty,zinfandel,ziti,zucchini
0,greek,10259,romaine lettuce black olives grape tomatoes ga...,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,southern_us,25693,plain flour ground pepper salt tomatoes ground...,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,filipino,20130,eggs pepper salt mayonaise cooking oil green c...,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,indian,22213,water vegetable oil wheat salt,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,indian,13162,black pepper shallots cornflour cayenne pepper...,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [43]:
train_data3.drop("id",axis=1,inplace=True)
#test_data.drop("id",axis=1,inplace=True)
train_data3.drop("ingredients",axis=1,inplace=True)

In [44]:
train_data_new=train_data3.sample(frac=0.7,random_state=200) #random state is a seed value
val_data=train_data3.drop(train_data_new.index)

In [45]:
train_data_new.head()

,cuisine,00,10,100,14,15,25,33,40,43,...,za,zabaglione,zatarains,zatarainâ,zero,zest,zesty,zinfandel,ziti,zucchini
8937,southern_us,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29679,russian,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15616,spanish,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3239,french,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
17395,southern_us,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [46]:
#Performing train val split on the data
X_train, y_train = train_data_new.loc[:,train_data_new.columns!='cuisine'], train_data_new.loc[:,'cuisine']

X_val, y_val = val_data.loc[:,val_data.columns!='cuisine'], val_data.loc[:,'cuisine']

In [47]:
# sklearn.feature_extraction.text.CountVectorizer - Convert a collection of text documents to a matrix of token counts
tf_vectorizer_test = CountVectorizer(ngram_range=(1,1))
tf_test = tf_vectorizer_test.fit_transform(test_data_df_full.ingredients)         # tfs are calculated by CountVectorizer's fit_transform()

In [48]:
test_data1=pd.DataFrame(tf_test.toarray(), columns= tf_vectorizer_test.get_feature_names()) # Array mapping from feature integer indices to feature name

In [49]:
test_data1.drop("cuisine",axis=1,inplace=True)

In [50]:
test_data1.shape

(49718, 3166)

In [51]:
test_data1=test_data1.drop(train_data1.index[9944:])

In [52]:
X_train.head()

,00,10,100,14,15,25,33,40,43,50,...,za,zabaglione,zatarains,zatarainâ,zero,zest,zesty,zinfandel,ziti,zucchini
8937,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29679,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15616,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3239,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
17395,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [53]:
train_data_new.head()

,cuisine,00,10,100,14,15,25,33,40,43,...,za,zabaglione,zatarains,zatarainâ,zero,zest,zesty,zinfandel,ziti,zucchini
8937,southern_us,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29679,russian,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15616,spanish,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3239,french,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
17395,southern_us,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [54]:
y_val.columns=['cuisine','b']
y_train.columns=['cuisine','b']

In [55]:
y_val.head()

     cuisine  b
2   filipino  0
3     indian  0
4     indian  0
5   jamaican  0
11   chinese  0

In [56]:
y_train.head()

           cuisine  b
8937   southern_us  0
29679      russian  0
15616      spanish  0
3239        french  0
17395  southern_us  0

In [57]:
y_val.drop("b",axis=1,inplace=True)
y_train.drop("b",axis=1,inplace=True)

In [58]:
test_data_ing=test_data.loc[:,'ingredients']

In [59]:
print(X_train.shape)
print(y_train.shape)
print(X_val.shape)
print(y_val.shape)
print(test_data_ing.shape)

(27842, 3166)
(27842, 1)
(11932, 3166)
(11932, 1)
(9944,)

In [60]:
print(X_train.head())
print(y_train.head())
print(X_val.head())
print(y_val.head())
print(test_data_ing.head())

       00  10  100  14  15  25  33  40  43  50  ...  za  zabaglione  \
8937    0   0    0   0   0   0   0   0   0   0  ...   0           0
29679   0   0    0   0   0   0   0   0   0   0  ...   0           0
15616   0   0    0   0   0   0   0   0   0   0  ...   0           0
3239    0   0    0   0   0   0   0   0   0   0  ...   0           0
17395   0   0    0   0   0   0   0   0   0   0  ...   0           0

       zatarains  zatarainâ  zero  zest  zesty  zinfandel  ziti  zucchini
8937           0          0     0     0      0          0     0         0
29679          0          0     0     0      0          0     0         0
15616          0          0     0     0      0          0     0         0
3239           0          0     0     0      0          0     0         0
17395          0          0     0     0      0          0     0         0

[5 rows x 3166 columns]
           cuisine
8937   southern_us
29679      russian
15616      spanish
3239        french
17395  southern_us
    00  10  100  14  15  25  33  40  43  50  ...  za  zabaglione  zatarains  \
2    0   0    0   0   0   0   0   0   0   0  ...   0           0          0
3    0   0    0   0   0   0   0   0   0   0  ...   0           0          0
4    0   0    0   0   0   0   0   0   0   0  ...   0           0          0
5    0   0    0   0   0   0   0   0   0   0  ...   0           0          0
11   0   0    0   0   0   0   0   0   0   0  ...   0           0          0

    zatarainâ  zero  zest  zesty  zinfandel  ziti  zucchini
2           0     0     0      0          0     0         0
3           0     0     0      0          0     0         0
4           0     0     0      0          0     0         0
5           0     0     0      0          0     0         0
11          0     0     0      0          0     0         0

[5 rows x 3166 columns]
     cuisine
2   filipino
3     indian
4     indian
5   jamaican
11   chinese
0    baking powder eggs all-purpose flour raisins m...
1    sugar egg yolks corn starch cream of tartar ba...
2    sausage links fennel bulb fronds olive oil cub...
3    meat cuts file powder smoked sausage okra shri...
4    ground black pepper salt sausage casings leeks...
Name: ingredients, dtype: object

In [61]:
print(X_train.head())
print(y_train.head())
print(X_val.head())
print(y_val.head())
print(test_data1.head())

       00  10  100  14  15  25  33  40  43  50  ...  za  zabaglione  \
8937    0   0    0   0   0   0   0   0   0   0  ...   0           0
29679   0   0    0   0   0   0   0   0   0   0  ...   0           0
15616   0   0    0   0   0   0   0   0   0   0  ...   0           0
3239    0   0    0   0   0   0   0   0   0   0  ...   0           0
17395   0   0    0   0   0   0   0   0   0   0  ...   0           0

       zatarains  zatarainâ  zero  zest  zesty  zinfandel  ziti  zucchini
8937           0          0     0     0      0          0     0         0
29679          0          0     0     0      0          0     0         0
15616          0          0     0     0      0          0     0         0
3239           0          0     0     0      0          0     0         0
17395          0          0     0     0      0          0     0         0

[5 rows x 3166 columns]
           cuisine
8937   southern_us
29679      russian
15616      spanish
3239        french
17395  southern_us
    00  10  100  14  15  25  33  40  43  50  ...  za  zabaglione  zatarains  \
2    0   0    0   0   0   0   0   0   0   0  ...   0           0          0
3    0   0    0   0   0   0   0   0   0   0  ...   0           0          0
4    0   0    0   0   0   0   0   0   0   0  ...   0           0          0
5    0   0    0   0   0   0   0   0   0   0  ...   0           0          0
11   0   0    0   0   0   0   0   0   0   0  ...   0           0          0

    zatarainâ  zero  zest  zesty  zinfandel  ziti  zucchini
2           0     0     0      0          0     0         0
3           0     0     0      0          0     0         0
4           0     0     0      0          0     0         0
5           0     0     0      0          0     0         0
11          0     0     0      0          0     0         0

[5 rows x 3166 columns]
     cuisine
2   filipino
3     indian
4     indian
5   jamaican
11   chinese
   00  10  100  14  15  25  33  40  43  50  ...  za  zabaglione  zatarains  \
0   0   0    0   0   0   0   0   0   0   0  ...   0           0          0
1   0   0    0   0   0   0   0   0   0   0  ...   0           0          0
2   0   0    0   0   0   0   0   0   0   0  ...   0           0          0
3   0   0    0   0   0   0   0   0   0   0  ...   0           0          0
4   0   0    0   0   0   0   0   0   0   0  ...   0           0          0

   zatarainâ  zero  zest  zesty  zinfandel  ziti  zucchini
0          0     0     0      0          0     0         0
1          0     0     0      0          0     0         0
2          0     0     0      0          0     0         0
3          0     0     0      0          0     0         0
4          0     0     0      0          0     0         0

[5 rows x 3166 columns]

In [62]:
#### TYPE
clf_logreg=LogisticRegression()

In [63]:
#### TYPE
clf_logreg.fit(X_train,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [64]:
train_pred=clf_logreg.predict(X_train)
val_pred=clf_logreg.predict(X_val)

In [65]:
test_pred=clf_logreg.predict(test_data1)

In [66]:
test_data1.head()

,00,10,100,14,15,25,33,40,43,50,...,za,zabaglione,zatarains,zatarainâ,zero,zest,zesty,zinfandel,ziti,zucchini
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [67]:
test_pred.shape

(9944,)

In [68]:
print(train_pred)
print(val_pred)

['southern_us' 'moroccan' 'mexican' ... 'vietnamese' 'irish' 'southern_us']
['filipino' 'indian' 'indian' ... 'italian' 'chinese' 'mexican']

In [69]:
from sklearn.metrics import classification_report

In [70]:
print(classification_report(y_train,train_pred))
print(classification_report(y_val,val_pred))

              precision    recall  f1-score   support

   brazilian       0.89      0.75      0.81       326
     british       0.78      0.67      0.72       565
cajun_creole       0.87      0.81      0.84      1067
     chinese       0.88      0.91      0.89      1915
    filipino       0.87      0.78      0.82       520
      french       0.73      0.75      0.74      1843
       greek       0.90      0.81      0.85       813
      indian       0.91      0.94      0.92      2126
       irish       0.83      0.69      0.75       458
     italian       0.86      0.93      0.90      5472
    jamaican       0.93      0.83      0.88       358
    japanese       0.90      0.81      0.85      1015
      korean       0.91      0.89      0.90       559
     mexican       0.94      0.95      0.94      4504
    moroccan       0.91      0.88      0.89       563
     russian       0.85      0.68      0.76       336
 southern_us       0.82      0.87      0.84      3048
     spanish       0.82      0.65      0.73       687
        thai       0.88      0.86      0.87      1094
  vietnamese       0.86      0.74      0.80       573

    accuracy                           0.87     27842
   macro avg       0.87      0.81      0.84     27842
weighted avg       0.87      0.87      0.87     27842

              precision    recall  f1-score   support

   brazilian       0.66      0.56      0.61       141
     british       0.56      0.42      0.48       239
cajun_creole       0.78      0.65      0.71       479
     chinese       0.79      0.84      0.81       758
    filipino       0.69      0.60      0.64       235
      french       0.60      0.62      0.61       803
       greek       0.78      0.70      0.74       362
      indian       0.85      0.90      0.87       877
       irish       0.62      0.47      0.54       209
     italian       0.80      0.88      0.84      2366
    jamaican       0.83      0.70      0.76       168
    japanese       0.76      0.67      0.71       408
      korean       0.85      0.77      0.81       271
     mexican       0.90      0.92      0.91      1934
    moroccan       0.84      0.75      0.79       258
     russian       0.53      0.35      0.42       153
 southern_us       0.69      0.78      0.73      1272
     spanish       0.60      0.46      0.52       302
        thai       0.77      0.74      0.76       445
  vietnamese       0.65      0.54      0.59       252

    accuracy                           0.77     11932
   macro avg       0.73      0.67      0.69     11932
weighted avg       0.77      0.77      0.77     11932

In [152]:
# save the model to disk
import pickle
filename = 'logistic_tf.pkl'
pickle.dump(clf_logreg, open(filename, 'wb'))

# TFIDF

In [71]:
# sklearn.feature_extraction.text.CountVectorizer - Convert a collection of text documents to a matrix of token counts
tfidf_vectorizer_train = TfidfVectorizer(ngram_range=(1,1))
train_tfidf= tfidf_vectorizer_train.fit_transform(test_data_df_full.ingredients)         # tfs are calculated by CountVectorizer's fit_transform()

In [72]:
train_tfidf.shape

(49718, 3167)

In [73]:
train_tfidf1=pd.DataFrame(train_tfidf.toarray(), columns= tfidf_vectorizer_train.get_feature_names()) # Array mapping from feature integer indices to feature name

In [74]:
train_tfidf1.head()

,00,10,100,14,15,25,33,40,43,50,...,za,zabaglione,zatarains,zatarainâ,zero,zest,zesty,zinfandel,ziti,zucchini
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [75]:
train_tfidf2=train_tfidf1.drop(train_tfidf1.index[0:9944])

In [76]:
train_tfidf2.shape

(39774, 3167)

In [77]:
train_tfidf2.reset_index(inplace = True)

In [78]:
train_tfidf2.drop("index",axis=1,inplace=True)

In [79]:
train_tfidf3 = pd.concat([train_data, train_tfidf2], axis=1)

In [80]:
train_tfidf3.shape

(39774, 3170)

In [81]:
train_tfidf3.head()

,cuisine,id,ingredients,00,10,100,14,15,25,33,...,za,zabaglione,zatarains,zatarainâ,zero,zest,zesty,zinfandel,ziti,zucchini
0,greek,10259,romaine lettuce black olives grape tomatoes ga...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,southern_us,25693,plain flour ground pepper salt tomatoes ground...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,filipino,20130,eggs pepper salt mayonaise cooking oil green c...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,indian,22213,water vegetable oil wheat salt,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,indian,13162,black pepper shallots cornflour cayenne pepper...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [82]:
train_tfidf3.drop("id",axis=1,inplace=True)
#test_data.drop("id",axis=1,inplace=True)
train_tfidf3.drop("ingredients",axis=1,inplace=True)

In [83]:
train_data_new=train_tfidf3.sample(frac=0.7,random_state=200) #random state is a seed value
val_data=train_tfidf3.drop(train_data_new.index)

In [84]:
train_data_new.head()

,cuisine,00,10,100,14,15,25,33,40,43,...,za,zabaglione,zatarains,zatarainâ,zero,zest,zesty,zinfandel,ziti,zucchini
8937,southern_us,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
29679,russian,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15616,spanish,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3239,french,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17395,southern_us,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [85]:
#Performing train val split on the data
X_train, y_train = train_data_new.loc[:,train_data_new.columns!='cuisine'], train_data_new.loc[:,'cuisine']

X_val, y_val = val_data.loc[:,val_data.columns!='cuisine'], val_data.loc[:,'cuisine']

In [86]:
# sklearn.feature_extraction.text.CountVectorizer - Convert a collection of text documents to a matrix of token counts
tfidf_vectorizer_test = TfidfVectorizer(ngram_range=(1,1))
tfidf_test = tfidf_vectorizer_test.fit_transform(test_data_df_full.ingredients)         # tfs are calculated by CountVectorizer's fit_transform()

In [87]:
test_data1=pd.DataFrame(tfidf_test.toarray(), columns= tfidf_vectorizer_test.get_feature_names()) # Array mapping from feature integer indices to feature name

In [88]:
test_data1.drop("cuisine",axis=1,inplace=True)

In [89]:
test_data1.shape

(49718, 3166)

In [90]:
test_data1=test_data1.drop(train_data1.index[9944:])

In [91]:
y_val.columns=['cuisine','b']
y_train.columns=['cuisine','b']

In [92]:
y_val.head()

     cuisine    b
2   filipino  0.0
3     indian  0.0
4     indian  0.0
5   jamaican  0.0
11   chinese  0.0

In [93]:
y_train.head()

           cuisine    b
8937   southern_us  0.0
29679      russian  0.0
15616      spanish  0.0
3239        french  0.0
17395  southern_us  0.0

In [94]:
y_val.drop("b",axis=1,inplace=True)
y_train.drop("b",axis=1,inplace=True)

In [95]:
print(X_train.shape)
print(y_train.shape)
print(X_val.shape)
print(y_val.shape)
print(test_data_ing.shape)

(27842, 3166)
(27842, 1)
(11932, 3166)
(11932, 1)
(9944,)

In [96]:
print(X_train.head())
print(y_train.head())
print(X_val.head())
print(y_val.head())
print(test_data_ing.head())

        00   10  100   14   15   25   33   40   43   50  ...   za  zabaglione  \
8937   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0         0.0
29679  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0         0.0
15616  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0         0.0
3239   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0         0.0
17395  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0         0.0

       zatarains  zatarainâ  zero  zest  zesty  zinfandel  ziti  zucchini
8937         0.0        0.0   0.0   0.0    0.0        0.0   0.0       0.0
29679        0.0        0.0   0.0   0.0    0.0        0.0   0.0       0.0
15616        0.0        0.0   0.0   0.0    0.0        0.0   0.0       0.0
3239         0.0        0.0   0.0   0.0    0.0        0.0   0.0       0.0
17395        0.0        0.0   0.0   0.0    0.0        0.0   0.0       0.0

[5 rows x 3166 columns]
           cuisine
8937   southern_us
29679      russian
15616      spanish
3239        french
17395  southern_us
     00   10  100   14   15   25   33   40   43   50  ...   za  zabaglione  \
2   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0         0.0
3   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0         0.0
4   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0         0.0
5   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0         0.0
11  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0         0.0

    zatarains  zatarainâ  zero  zest  zesty  zinfandel  ziti  zucchini
2         0.0        0.0   0.0   0.0    0.0        0.0   0.0       0.0
3         0.0        0.0   0.0   0.0    0.0        0.0   0.0       0.0
4         0.0        0.0   0.0   0.0    0.0        0.0   0.0       0.0
5         0.0        0.0   0.0   0.0    0.0        0.0   0.0       0.0
11        0.0        0.0   0.0   0.0    0.0        0.0   0.0       0.0

[5 rows x 3166 columns]
     cuisine
2   filipino
3     indian
4     indian
5   jamaican
11   chinese
0    baking powder eggs all-purpose flour raisins m...
1    sugar egg yolks corn starch cream of tartar ba...
2    sausage links fennel bulb fronds olive oil cub...
3    meat cuts file powder smoked sausage okra shri...
4    ground black pepper salt sausage casings leeks...
Name: ingredients, dtype: object

In [97]:
print(X_train.head())
print(y_train.head())
print(X_val.head())
print(y_val.head())
print(test_data1.head())

        00   10  100   14   15   25   33   40   43   50  ...   za  zabaglione  \
8937   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0         0.0
29679  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0         0.0
15616  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0         0.0
3239   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0         0.0
17395  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0         0.0

       zatarains  zatarainâ  zero  zest  zesty  zinfandel  ziti  zucchini
8937         0.0        0.0   0.0   0.0    0.0        0.0   0.0       0.0
29679        0.0        0.0   0.0   0.0    0.0        0.0   0.0       0.0
15616        0.0        0.0   0.0   0.0    0.0        0.0   0.0       0.0
3239         0.0        0.0   0.0   0.0    0.0        0.0   0.0       0.0
17395        0.0        0.0   0.0   0.0    0.0        0.0   0.0       0.0

[5 rows x 3166 columns]
           cuisine
8937   southern_us
29679      russian
15616      spanish
3239        french
17395  southern_us
     00   10  100   14   15   25   33   40   43   50  ...   za  zabaglione  \
2   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0         0.0
3   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0         0.0
4   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0         0.0
5   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0         0.0
11  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0         0.0

    zatarains  zatarainâ  zero  zest  zesty  zinfandel  ziti  zucchini
2         0.0        0.0   0.0   0.0    0.0        0.0   0.0       0.0
3         0.0        0.0   0.0   0.0    0.0        0.0   0.0       0.0
4         0.0        0.0   0.0   0.0    0.0        0.0   0.0       0.0
5         0.0        0.0   0.0   0.0    0.0        0.0   0.0       0.0
11        0.0        0.0   0.0   0.0    0.0        0.0   0.0       0.0

[5 rows x 3166 columns]
     cuisine
2   filipino
3     indian
4     indian
5   jamaican
11   chinese
    00   10  100   14   15   25   33   40   43   50  ...   za  zabaglione  \
0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0         0.0
1  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0         0.0
2  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0         0.0
3  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0         0.0
4  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0         0.0

   zatarains  zatarainâ  zero  zest  zesty  zinfandel  ziti  zucchini
0        0.0        0.0   0.0   0.0    0.0        0.0   0.0       0.0
1        0.0        0.0   0.0   0.0    0.0        0.0   0.0       0.0
2        0.0        0.0   0.0   0.0    0.0        0.0   0.0       0.0
3        0.0        0.0   0.0   0.0    0.0        0.0   0.0       0.0
4        0.0        0.0   0.0   0.0    0.0        0.0   0.0       0.0

[5 rows x 3166 columns]

In [98]:
#### TYPE
clf_logreg=LogisticRegression()

In [99]:
#### TYPE
clf_logreg.fit(X_train,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [100]:
train_pred=clf_logreg.predict(X_train)
val_pred=clf_logreg.predict(X_val)

In [101]:
test_pred=clf_logreg.predict(test_data1)

In [102]:
test_pred.shape

(9944,)

In [103]:
print(train_pred)
print(val_pred)

['southern_us' 'moroccan' 'mexican' ... 'vietnamese' 'irish' 'mexican']
['filipino' 'indian' 'indian' ... 'italian' 'chinese' 'mexican']

In [104]:
from sklearn.metrics import classification_report

In [105]:
print(classification_report(y_train,train_pred))
print(classification_report(y_val,val_pred))

              precision    recall  f1-score   support

   brazilian       0.85      0.54      0.66       326
     british       0.73      0.47      0.57       565
cajun_creole       0.83      0.72      0.77      1067
     chinese       0.82      0.90      0.86      1915
    filipino       0.85      0.67      0.75       520
      french       0.65      0.70      0.68      1843
       greek       0.86      0.71      0.78       813
      indian       0.88      0.93      0.90      2126
       irish       0.80      0.53      0.64       458
     italian       0.82      0.93      0.87      5472
    jamaican       0.93      0.70      0.80       358
    japanese       0.90      0.73      0.81      1015
      korean       0.88      0.77      0.82       559
     mexican       0.92      0.94      0.93      4504
    moroccan       0.89      0.79      0.84       563
     russian       0.84      0.47      0.60       336
 southern_us       0.73      0.85      0.79      3048
     spanish       0.77      0.53      0.62       687
        thai       0.83      0.81      0.82      1094
  vietnamese       0.83      0.63      0.71       573

    accuracy                           0.82     27842
   macro avg       0.83      0.72      0.76     27842
weighted avg       0.83      0.82      0.82     27842

              precision    recall  f1-score   support

   brazilian       0.77      0.44      0.56       141
     british       0.64      0.36      0.46       239
cajun_creole       0.81      0.62      0.71       479
     chinese       0.76      0.88      0.81       758
    filipino       0.73      0.54      0.62       235
      french       0.59      0.64      0.62       803
       greek       0.82      0.66      0.73       362
      indian       0.85      0.92      0.88       877
       irish       0.70      0.42      0.53       209
     italian       0.77      0.90      0.83      2366
    jamaican       0.91      0.68      0.78       168
    japanese       0.81      0.62      0.71       408
      korean       0.88      0.72      0.79       271
     mexican       0.89      0.92      0.91      1934
    moroccan       0.87      0.71      0.78       258
     russian       0.72      0.30      0.42       153
 southern_us       0.65      0.80      0.72      1272
     spanish       0.67      0.41      0.51       302
        thai       0.76      0.75      0.75       445
  vietnamese       0.65      0.48      0.56       252

    accuracy                           0.77     11932
   macro avg       0.76      0.64      0.68     11932
weighted avg       0.77      0.77      0.76     11932

In [153]:
# save the model to disk
import pickle
filename = 'logistic_tfidf.pkl'
pickle.dump(clf_logreg, open(filename, 'wb'))

In [79]:
submission_data=pd.read_csv('sample_submission.csv')

In [80]:
submission_data.head()

      id  cuisine
0  35203  italian
1  17600  italian
2  35200  italian
3  17602  italian
4  17605  italian

In [81]:
submission_data.drop("cuisine",axis=1,inplace=True)

In [82]:
submission_data['cuisine']=test_pred

In [83]:
submission_data.shape

(9944, 2)

In [84]:

submission_data.to_csv(r'C:\Users\91989\Documents\PYTHON\INSOFE_Internship\sub2.csv')

# TFIDF Pipeline

In [106]:
clf=Pipeline([
        ('tfidf_vectorizer', TfidfVectorizer(lowercase=True)),
        ('classifier', LogisticRegression())
    ])

In [107]:
train_data.head()

       cuisine     id                                        ingredients
0        greek  10259  romaine lettuce black olives grape tomatoes ga...
1  southern_us  25693  plain flour ground pepper salt tomatoes ground...
2     filipino  20130  eggs pepper salt mayonaise cooking oil green c...
3       indian  22213                     water vegetable oil wheat salt
4       indian  13162  black pepper shallots cornflour cayenne pepper...

In [108]:
test_data.head()

      id                                        ingredients
0  18009  baking powder eggs all-purpose flour raisins m...
1  28583  sugar egg yolks corn starch cream of tartar ba...
2  41580  sausage links fennel bulb fronds olive oil cub...
3  29752  meat cuts file powder smoked sausage okra shri...
4  35687  ground black pepper salt sausage casings leeks...

In [109]:
train_data_new=train_data.sample(frac=0.8,random_state=200) #random state is a seed value
val_data=train_data.drop(train_data_new.index)

In [110]:
#Performing train val split on the data
X_train, y_train = train_data_new.loc[:,train_data_new.columns!='cuisine'], train_data_new.loc[:,'cuisine']

X_val, y_val = val_data.loc[:,val_data.columns!='cuisine'], val_data.loc[:,'cuisine']

In [111]:
y_val.shape

(7955,)

In [112]:
X_train.shape

(31819, 2)

In [113]:
y_train.head()

8937     southern_us
29679        russian
15616        spanish
3239          french
17395    southern_us
Name: cuisine, dtype: object

In [114]:
X_train.head()

          id                                        ingredients
8937    9808  baking powder baking soda buttermilk salted bu...
29679  43442  sliced almonds raisins dried apricot salt hone...
15616  39228  baking potatoes monterey jack spanish chorizo ...
3239    9987  large eggs unsalted butter lemon peel sugar fr...
17395  45104  vegetable oil cooking spray vegetable oil all-...

In [115]:
clf.fit(X_train.ingredients,y_train)

Pipeline(memory=None,
         steps=[('tfidf_vectorizer',
                 TfidfVectorizer(analyzer='word', binary=False,
                                 decode_error='strict',
                                 dtype=<class 'numpy.float64'>,
                                 encoding='utf-8', input='content',
                                 lowercase=True, max_df=1.0, max_features=None,
                                 min_df=1, ngram_range=(1, 1), norm='l2',
                                 preprocessor=None, smooth_idf=True,
                                 stop_words=None, strip_accents=None,
                                 sublinear_tf=False,
                                 token_pattern='(?u)\\b\\w\\w+\\b',
                                 tokenizer=None, use_idf=True,
                                 vocabulary=None)),
                ('classifier',
                 LogisticRegression(C=1.0, class_weight=None, dual=False,
                                    fit_intercept=True, intercept_scaling=1,
                                    l1_ratio=None, max_iter=100,
                                    multi_class='auto', n_jobs=None,
                                    penalty='l2', random_state=None,
                                    solver='lbfgs', tol=0.0001, verbose=0,
                                    warm_start=False))],
         verbose=False)

In [116]:
test_data.head()

      id                                        ingredients
0  18009  baking powder eggs all-purpose flour raisins m...
1  28583  sugar egg yolks corn starch cream of tartar ba...
2  41580  sausage links fennel bulb fronds olive oil cub...
3  29752  meat cuts file powder smoked sausage okra shri...
4  35687  ground black pepper salt sausage casings leeks...

In [117]:
train_pred=clf.predict(X_train.ingredients)
val_pred=clf.predict(X_val.ingredients)
test_pred=clf.predict(test_data.ingredients)

In [118]:
test_pred.shape

(9944,)

In [119]:
train_pred.shape
train_pred

array(['southern_us', 'moroccan', 'mexican', ..., 'chinese',
       'southern_us', 'french'], dtype=object)

In [120]:
y_val.head()

2     filipino
3       indian
4       indian
5     jamaican
17     italian
Name: cuisine, dtype: object

In [121]:
from sklearn.metrics import classification_report

In [122]:
#print(classification_report(y_train,train_pred))
print(classification_report(y_val,val_pred))

              precision    recall  f1-score   support

   brazilian       0.70      0.43      0.54        97
     british       0.59      0.32      0.42       152
cajun_creole       0.78      0.62      0.69       317
     chinese       0.78      0.87      0.82       513
    filipino       0.74      0.56      0.64       149
      french       0.59      0.64      0.62       546
       greek       0.80      0.66      0.72       238
      indian       0.86      0.91      0.89       606
       irish       0.72      0.46      0.56       148
     italian       0.77      0.89      0.83      1550
    jamaican       0.88      0.64      0.74       106
    japanese       0.84      0.66      0.74       276
      korean       0.86      0.73      0.79       170
     mexican       0.90      0.92      0.91      1290
    moroccan       0.87      0.71      0.78       172
     russian       0.65      0.33      0.44       105
 southern_us       0.65      0.80      0.72       852
     spanish       0.64      0.45      0.53       201
        thai       0.79      0.78      0.79       301
  vietnamese       0.76      0.54      0.63       166

    accuracy                           0.77      7955
   macro avg       0.76      0.65      0.69      7955
weighted avg       0.77      0.77      0.77      7955

In [58]:
submission_data=pd.read_csv('sample_submission.csv')

In [59]:
submission_data.head()

      id  cuisine
0  35203  italian
1  17600  italian
2  35200  italian
3  17602  italian
4  17605  italian

In [81]:
submission_data.drop("cuisine",axis=1,inplace=True)

In [115]:
submission_data['cuisine']=test_pred

In [83]:
submission_data.shape

(9944, 2)

In [116]:

submission_data.to_csv(r'C:\Users\91989\Documents\PYTHON\INSOFE_Internship\sub3.csv')

In [60]:

test_data.to_csv(r'C:\Users\91989\Documents\PYTHON\INSOFE_Internship\test_data.csv')

# TF Pipeline

In [123]:
clf=Pipeline([
        ('tfidf_vectorizer', TfidfVectorizer(lowercase=True)),
        ('classifier', LogisticRegression())
    ])

In [124]:
train_data.head()

       cuisine     id                                        ingredients
0        greek  10259  romaine lettuce black olives grape tomatoes ga...
1  southern_us  25693  plain flour ground pepper salt tomatoes ground...
2     filipino  20130  eggs pepper salt mayonaise cooking oil green c...
3       indian  22213                     water vegetable oil wheat salt
4       indian  13162  black pepper shallots cornflour cayenne pepper...

In [125]:
test_data.head()

      id                                        ingredients
0  18009  baking powder eggs all-purpose flour raisins m...
1  28583  sugar egg yolks corn starch cream of tartar ba...
2  41580  sausage links fennel bulb fronds olive oil cub...
3  29752  meat cuts file powder smoked sausage okra shri...
4  35687  ground black pepper salt sausage casings leeks...

In [126]:
train_data_new=train_data.sample(frac=0.8,random_state=200) #random state is a seed value
val_data=train_data.drop(train_data_new.index)

In [127]:
#Performing train val split on the data
X_train, y_train = train_data_new.loc[:,train_data_new.columns!='cuisine'], train_data_new.loc[:,'cuisine']

X_val, y_val = val_data.loc[:,val_data.columns!='cuisine'], val_data.loc[:,'cuisine']

In [128]:
y_val.shape

(7955,)

In [129]:
X_train.shape

(31819, 2)

In [130]:
y_train.head()

8937     southern_us
29679        russian
15616        spanish
3239          french
17395    southern_us
Name: cuisine, dtype: object

In [131]:
X_train.head()

          id                                        ingredients
8937    9808  baking powder baking soda buttermilk salted bu...
29679  43442  sliced almonds raisins dried apricot salt hone...
15616  39228  baking potatoes monterey jack spanish chorizo ...
3239    9987  large eggs unsalted butter lemon peel sugar fr...
17395  45104  vegetable oil cooking spray vegetable oil all-...

In [132]:
clf.fit(X_train.ingredients,y_train)

Pipeline(memory=None,
         steps=[('tfidf_vectorizer',
                 TfidfVectorizer(analyzer='word', binary=False,
                                 decode_error='strict',
                                 dtype=<class 'numpy.float64'>,
                                 encoding='utf-8', input='content',
                                 lowercase=True, max_df=1.0, max_features=None,
                                 min_df=1, ngram_range=(1, 1), norm='l2',
                                 preprocessor=None, smooth_idf=True,
                                 stop_words=None, strip_accents=None,
                                 sublinear_tf=False,
                                 token_pattern='(?u)\\b\\w\\w+\\b',
                                 tokenizer=None, use_idf=True,
                                 vocabulary=None)),
                ('classifier',
                 LogisticRegression(C=1.0, class_weight=None, dual=False,
                                    fit_intercept=True, intercept_scaling=1,
                                    l1_ratio=None, max_iter=100,
                                    multi_class='auto', n_jobs=None,
                                    penalty='l2', random_state=None,
                                    solver='lbfgs', tol=0.0001, verbose=0,
                                    warm_start=False))],
         verbose=False)

In [133]:
test_data.head()

      id                                        ingredients
0  18009  baking powder eggs all-purpose flour raisins m...
1  28583  sugar egg yolks corn starch cream of tartar ba...
2  41580  sausage links fennel bulb fronds olive oil cub...
3  29752  meat cuts file powder smoked sausage okra shri...
4  35687  ground black pepper salt sausage casings leeks...

In [134]:
train_pred=clf.predict(X_train.ingredients)
val_pred=clf.predict(X_val.ingredients)
test_pred=clf.predict(test_data.ingredients)

In [135]:
train_pred.shape
train_pred

array(['southern_us', 'moroccan', 'mexican', ..., 'chinese',
       'southern_us', 'french'], dtype=object)

In [136]:
y_val.head()

2     filipino
3       indian
4       indian
5     jamaican
17     italian
Name: cuisine, dtype: object

In [137]:
from sklearn.metrics import classification_report

In [138]:
print(classification_report(y_train,train_pred))
print(classification_report(y_val,val_pred))

              precision    recall  f1-score   support

   brazilian       0.84      0.56      0.67       370
     british       0.71      0.49      0.58       652
cajun_creole       0.83      0.73      0.77      1229
     chinese       0.82      0.89      0.85      2160
    filipino       0.84      0.67      0.75       606
      french       0.66      0.70      0.68      2100
       greek       0.87      0.72      0.79       937
      indian       0.88      0.93      0.90      2397
       irish       0.79      0.52      0.63       519
     italian       0.82      0.92      0.87      6288
    jamaican       0.91      0.72      0.81       420
    japanese       0.90      0.72      0.80      1147
      korean       0.89      0.79      0.84       660
     mexican       0.92      0.94      0.93      5148
    moroccan       0.89      0.79      0.84       649
     russian       0.81      0.47      0.59       384
 southern_us       0.73      0.85      0.78      3468
     spanish       0.77      0.53      0.63       788
        thai       0.83      0.80      0.82      1238
  vietnamese       0.81      0.63      0.71       659

    accuracy                           0.82     31819
   macro avg       0.83      0.72      0.76     31819
weighted avg       0.82      0.82      0.82     31819

              precision    recall  f1-score   support

   brazilian       0.70      0.43      0.54        97
     british       0.59      0.32      0.42       152
cajun_creole       0.78      0.62      0.69       317
     chinese       0.78      0.87      0.82       513
    filipino       0.74      0.56      0.64       149
      french       0.59      0.64      0.62       546
       greek       0.80      0.66      0.72       238
      indian       0.86      0.91      0.89       606
       irish       0.72      0.46      0.56       148
     italian       0.77      0.89      0.83      1550
    jamaican       0.88      0.64      0.74       106
    japanese       0.84      0.66      0.74       276
      korean       0.86      0.73      0.79       170
     mexican       0.90      0.92      0.91      1290
    moroccan       0.87      0.71      0.78       172
     russian       0.65      0.33      0.44       105
 southern_us       0.65      0.80      0.72       852
     spanish       0.64      0.45      0.53       201
        thai       0.79      0.78      0.79       301
  vietnamese       0.76      0.54      0.63       166

    accuracy                           0.77      7955
   macro avg       0.76      0.65      0.69      7955
weighted avg       0.77      0.77      0.77      7955

In [79]:
submission_data=pd.read_csv('sample_submission.csv')

In [80]:
submission_data.head()

      id  cuisine
0  35203  italian
1  17600  italian
2  35200  italian
3  17602  italian
4  17605  italian

In [81]:
submission_data.drop("cuisine",axis=1,inplace=True)

In [115]:
submission_data['cuisine']=test_pred

In [83]:
submission_data.shape

(9944, 2)

In [116]:

submission_data.to_csv(r'C:\Users\91989\Documents\PYTHON\INSOFE_Internship\sub3.csv')

# Ridge and lasso

In [139]:
from sklearn.linear_model import RidgeClassifierCV

In [140]:
#### TYPE
ridge_model=Pipeline(steps=[('tfidf_vectorizer', TfidfVectorizer(lowercase=True)),('classifier',RidgeClassifierCV(fit_intercept=True, alphas=[
                       0.0125, 0.025, 0.05,.1, .125, .25, .5, 1., 2., 4.,10,100]))])

In [141]:
train_data_new=train_data.sample(frac=0.8,random_state=200) #random state is a seed value
val_data=train_data.drop(train_data_new.index)

In [142]:
#Performing train val split on the data
X_train, y_train = train_data_new.loc[:,train_data_new.columns!='cuisine'], train_data_new.loc[:,'cuisine']

X_val, y_val = val_data.loc[:,val_data.columns!='cuisine'], val_data.loc[:,'cuisine']

In [143]:
ridge_model.fit(X_train.ingredients,y_train)

Pipeline(memory=None,
         steps=[('tfidf_vectorizer',
                 TfidfVectorizer(analyzer='word', binary=False,
                                 decode_error='strict',
                                 dtype=<class 'numpy.float64'>,
                                 encoding='utf-8', input='content',
                                 lowercase=True, max_df=1.0, max_features=None,
                                 min_df=1, ngram_range=(1, 1), norm='l2',
                                 preprocessor=None, smooth_idf=True,
                                 stop_words=None, strip_accents=None,
                                 sublinear_tf=False,
                                 token_pattern='(?u)\\b\\w\\w+\\b',
                                 tokenizer=None, use_idf=True,
                                 vocabulary=None)),
                ('classifier',
                 RidgeClassifierCV(alphas=array([1.25e-02, 2.50e-02, 5.00e-02, 1.00e-01, 1.25e-01, 2.50e-01,
       5.00e-01, 1.00e+00, 2.00e+00, 4.00e+00, 1.00e+01, 1.00e+02]),
                                   class_weight=None, cv=None,
                                   fit_intercept=True, normalize=False,
                                   scoring=None, store_cv_values=False))],
         verbose=False)

In [78]:
train_pred=clf.predict(X_train.ingredients)
val_pred=clf.predict(X_val.ingredients)
test_pred=clf.predict(test_data.ingredients)

In [79]:
test_pred.shape

(9944,)

In [80]:
train_pred.shape
train_pred

array(['southern_us', 'moroccan', 'mexican', ..., 'chinese',
       'southern_us', 'french'], dtype=object)

In [81]:
y_val.head()

2     filipino
3       indian
4       indian
5     jamaican
17     italian
Name: cuisine, dtype: object

In [82]:
from sklearn.metrics import classification_report

In [83]:
print(classification_report(y_train,train_pred))
print(classification_report(y_val,val_pred))

              precision    recall  f1-score   support

   brazilian       0.84      0.56      0.67       370
     british       0.71      0.49      0.58       652
cajun_creole       0.83      0.73      0.77      1229
     chinese       0.82      0.89      0.85      2160
    filipino       0.84      0.67      0.75       606
      french       0.66      0.70      0.68      2100
       greek       0.87      0.72      0.79       937
      indian       0.88      0.93      0.90      2397
       irish       0.79      0.52      0.63       519
     italian       0.82      0.92      0.87      6288
    jamaican       0.91      0.72      0.81       420
    japanese       0.90      0.72      0.80      1147
      korean       0.89      0.79      0.84       660
     mexican       0.92      0.94      0.93      5148
    moroccan       0.89      0.79      0.84       649
     russian       0.81      0.47      0.59       384
 southern_us       0.73      0.85      0.78      3468
     spanish       0.77      0.53      0.63       788
        thai       0.83      0.80      0.82      1238
  vietnamese       0.81      0.63      0.71       659

    accuracy                           0.82     31819
   macro avg       0.83      0.72      0.76     31819
weighted avg       0.82      0.82      0.82     31819

              precision    recall  f1-score   support

   brazilian       0.70      0.43      0.54        97
     british       0.59      0.32      0.42       152
cajun_creole       0.78      0.62      0.69       317
     chinese       0.78      0.87      0.82       513
    filipino       0.74      0.56      0.64       149
      french       0.59      0.64      0.62       546
       greek       0.80      0.66      0.72       238
      indian       0.86      0.91      0.89       606
       irish       0.72      0.46      0.56       148
     italian       0.77      0.89      0.83      1550
    jamaican       0.88      0.64      0.74       106
    japanese       0.84      0.66      0.74       276
      korean       0.86      0.73      0.79       170
     mexican       0.90      0.92      0.91      1290
    moroccan       0.87      0.71      0.78       172
     russian       0.65      0.33      0.44       105
 southern_us       0.65      0.80      0.72       852
     spanish       0.64      0.45      0.53       201
        thai       0.79      0.78      0.79       301
  vietnamese       0.76      0.54      0.63       166

    accuracy                           0.77      7955
   macro avg       0.76      0.65      0.69      7955
weighted avg       0.77      0.77      0.77      7955

In [154]:
# save the model to disk
import pickle
filename = 'ridge_model.pkl'
pickle.dump(ridge_model, open(filename, 'wb'))

In [84]:
df = pd.DataFrame(test_pred)
df.to_csv(r'C:\Users\91989\Documents\PYTHON\INSOFE_Internship\TASK2\ridge_pred.csv')

# Lasso

In [72]:
from sklearn.linear_model import RidgeClassifierCV

In [158]:
lasso=Pipeline([
        ('tfidf_vectorizer', TfidfVectorizer(lowercase=True)),
        ('classifier', LogisticRegression(penalty='l1', solver='liblinear'))
    ])

In [86]:
train_data_new=train_data.sample(frac=0.8,random_state=200) #random state is a seed value
val_data=train_data.drop(train_data_new.index)

In [87]:
#Performing train val split on the data
X_train, y_train = train_data_new.loc[:,train_data_new.columns!='cuisine'], train_data_new.loc[:,'cuisine']

X_val, y_val = val_data.loc[:,val_data.columns!='cuisine'], val_data.loc[:,'cuisine']

In [168]:
lasso.fit(X_train.ingredients,y_train)

Pipeline(memory=None,
         steps=[('tfidf_vectorizer',
                 TfidfVectorizer(analyzer='word', binary=False,
                                 decode_error='strict',
                                 dtype=<class 'numpy.float64'>,
                                 encoding='utf-8', input='content',
                                 lowercase=True, max_df=1.0, max_features=None,
                                 min_df=1, ngram_range=(1, 1), norm='l2',
                                 preprocessor=None, smooth_idf=True,
                                 stop_words=None, strip_accents=None,
                                 sublinear_tf=False,
                                 token_pattern='(?u)\\b\\w\\w+\\b',
                                 tokenizer=None, use_idf=True,
                                 vocabulary=None)),
                ('classifier',
                 LogisticRegression(C=1.0, class_weight=None, dual=False,
                                    fit_intercept=True, intercept_scaling=1,
                                    l1_ratio=None, max_iter=100,
                                    multi_class='auto', n_jobs=None,
                                    penalty='l1', random_state=None,
                                    solver='liblinear', tol=0.0001, verbose=0,
                                    warm_start=False))],
         verbose=False)

In [89]:
train_pred=clf.predict(X_train.ingredients)
val_pred=clf.predict(X_val.ingredients)
test_pred=clf.predict(test_data.ingredients)

In [90]:
test_pred.shape

(9944,)

In [91]:
train_pred.shape
train_pred

array(['southern_us', 'moroccan', 'mexican', ..., 'chinese',
       'southern_us', 'french'], dtype=object)

In [92]:
y_val.head()

2     filipino
3       indian
4       indian
5     jamaican
17     italian
Name: cuisine, dtype: object

In [93]:
from sklearn.metrics import classification_report

In [94]:
print(classification_report(y_train,train_pred))
print(classification_report(y_val,val_pred))

              precision    recall  f1-score   support

   brazilian       0.84      0.56      0.67       370
     british       0.71      0.49      0.58       652
cajun_creole       0.83      0.73      0.77      1229
     chinese       0.82      0.89      0.85      2160
    filipino       0.84      0.67      0.75       606
      french       0.66      0.70      0.68      2100
       greek       0.87      0.72      0.79       937
      indian       0.88      0.93      0.90      2397
       irish       0.79      0.52      0.63       519
     italian       0.82      0.92      0.87      6288
    jamaican       0.91      0.72      0.81       420
    japanese       0.90      0.72      0.80      1147
      korean       0.89      0.79      0.84       660
     mexican       0.92      0.94      0.93      5148
    moroccan       0.89      0.79      0.84       649
     russian       0.81      0.47      0.59       384
 southern_us       0.73      0.85      0.78      3468
     spanish       0.77      0.53      0.63       788
        thai       0.83      0.80      0.82      1238
  vietnamese       0.81      0.63      0.71       659

    accuracy                           0.82     31819
   macro avg       0.83      0.72      0.76     31819
weighted avg       0.82      0.82      0.82     31819

              precision    recall  f1-score   support

   brazilian       0.70      0.43      0.54        97
     british       0.59      0.32      0.42       152
cajun_creole       0.78      0.62      0.69       317
     chinese       0.78      0.87      0.82       513
    filipino       0.74      0.56      0.64       149
      french       0.59      0.64      0.62       546
       greek       0.80      0.66      0.72       238
      indian       0.86      0.91      0.89       606
       irish       0.72      0.46      0.56       148
     italian       0.77      0.89      0.83      1550
    jamaican       0.88      0.64      0.74       106
    japanese       0.84      0.66      0.74       276
      korean       0.86      0.73      0.79       170
     mexican       0.90      0.92      0.91      1290
    moroccan       0.87      0.71      0.78       172
     russian       0.65      0.33      0.44       105
 southern_us       0.65      0.80      0.72       852
     spanish       0.64      0.45      0.53       201
        thai       0.79      0.78      0.79       301
  vietnamese       0.76      0.54      0.63       166

    accuracy                           0.77      7955
   macro avg       0.76      0.65      0.69      7955
weighted avg       0.77      0.77      0.77      7955

In [159]:
# save the model to disk
import pickle
filename = 'lasso_pipeline.pkl'
pickle.dump(lasso, open(filename, 'wb'))

# Naive bayes

In [169]:
naive=GaussianNB()

In [222]:
naive.fit(X_train,y_train)

GaussianNB(priors=None, var_smoothing=1e-09)

In [224]:
X_train.head()

,00,10,100,14,15,25,33,40,43,50,...,za,zabaglione,zatarains,zatarainâ,zero,zest,zesty,zinfandel,ziti,zucchini
8937,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29679,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15616,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3239,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
17395,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [225]:
test_data.head()

      id                                        ingredients
0  18009  baking powder eggs all-purpose flour raisins m...
1  28583  sugar egg yolks corn starch cream of tartar ba...
2  41580  sausage links fennel bulb fronds olive oil cub...
3  29752  meat cuts file powder smoked sausage okra shri...
4  35687  ground black pepper salt sausage casings leeks...

In [227]:
train_pred=naive.predict(X_train)
val_pred=naive.predict(X_val)
test_pred=naive.predict(test_data1)

In [228]:
test_pred.shape

(9944,)

In [229]:
train_pred.shape
train_pred

array(['jamaican', 'russian', 'brazilian', ..., 'vietnamese', 'irish',
       'cajun_creole'], dtype='<U12')

In [230]:
y_val.head()

     cuisine
2   filipino
3     indian
4     indian
5   jamaican
11   chinese

In [93]:
from sklearn.metrics import classification_report

In [231]:
print(classification_report(y_train,train_pred))
print(classification_report(y_val,val_pred))

              precision    recall  f1-score   support

   brazilian       0.12      0.80      0.20       326
     british       0.30      0.41      0.35       565
cajun_creole       0.37      0.57      0.45      1067
     chinese       0.82      0.19      0.31      1915
    filipino       0.22      0.53      0.31       520
      french       0.48      0.23      0.31      1843
       greek       0.22      0.33      0.26       813
      indian       0.87      0.36      0.51      2126
       irish       0.25      0.50      0.33       458
     italian       0.99      0.18      0.30      5472
    jamaican       0.09      0.98      0.17       358
    japanese       0.77      0.35      0.49      1015
      korean       0.21      0.99      0.35       559
     mexican       0.97      0.34      0.50      4504
    moroccan       0.22      0.81      0.35       563
     russian       0.13      0.81      0.23       336
 southern_us       0.77      0.18      0.29      3048
     spanish       0.15      0.34      0.21       687
        thai       0.47      0.28      0.35      1094
  vietnamese       0.33      0.59      0.42       573

    accuracy                           0.34     27842
   macro avg       0.44      0.49      0.33     27842
weighted avg       0.70      0.34      0.36     27842

              precision    recall  f1-score   support

   brazilian       0.08      0.56      0.14       141
     british       0.13      0.17      0.15       239
cajun_creole       0.29      0.41      0.34       479
     chinese       0.46      0.10      0.17       758
    filipino       0.17      0.38      0.24       235
      french       0.31      0.16      0.21       803
       greek       0.14      0.20      0.16       362
      indian       0.78      0.35      0.49       877
       irish       0.12      0.22      0.16       209
     italian       0.77      0.16      0.26      2366
    jamaican       0.07      0.73      0.13       168
    japanese       0.55      0.25      0.34       408
      korean       0.21      0.82      0.33       271
     mexican       0.86      0.31      0.46      1934
    moroccan       0.21      0.67      0.32       258
     russian       0.09      0.47      0.15       153
 southern_us       0.49      0.13      0.20      1272
     spanish       0.08      0.20      0.12       302
        thai       0.30      0.19      0.23       445
  vietnamese       0.21      0.37      0.27       252

    accuracy                           0.26     11932
   macro avg       0.32      0.34      0.24     11932
weighted avg       0.53      0.26      0.29     11932

# kNN

In [312]:
from sklearn.neighbors import KNeighborsClassifier

In [313]:
from sklearn.linear_model import RidgeClassifierCV

In [457]:
knn=KNeighborsClassifier(algorithm = 'brute',n_neighbors=5,metric="euclidean")

In [414]:
y_train.shape

(31819,)

In [458]:
knn.fit(X_train,y_train)

KNeighborsClassifier(algorithm='brute', leaf_size=30, metric='euclidean',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='uniform')

In [402]:
test_data.head()

      id                                        ingredients
0  18009  baking powder eggs all-purpose flour raisins m...
1  28583  sugar egg yolks corn starch cream of tartar ba...
2  41580  sausage links fennel bulb fronds olive oil cub...
3  29752  meat cuts file powder smoked sausage okra shri...
4  35687  ground black pepper salt sausage casings leeks...

In [459]:
train_pred=knn.predict(X_train)
val_pred=knn.predict(X_val)

In [443]:
test_pred=knn.predict(test_data1)

In [409]:
from sklearn.metrics import classification_report

In [460]:
print(classification_report(y_train,train_pred))
print(classification_report(y_val,val_pred))

              precision    recall  f1-score   support

   brazilian       0.52      0.71      0.60       326
     british       0.54      0.57      0.56       565
cajun_creole       0.72      0.69      0.70      1067
     chinese       0.76      0.85      0.80      1915
    filipino       0.57      0.72      0.64       520
      french       0.57      0.68      0.62      1843
       greek       0.70      0.65      0.67       813
      indian       0.79      0.82      0.80      2126
       irish       0.75      0.51      0.61       458
     italian       0.75      0.89      0.81      5472
    jamaican       0.84      0.57      0.68       358
    japanese       0.75      0.66      0.70      1015
      korean       0.79      0.68      0.73       559
     mexican       0.86      0.87      0.86      4504
    moroccan       0.76      0.53      0.63       563
     russian       0.82      0.35      0.49       336
 southern_us       0.78      0.71      0.74      3048
     spanish       0.70      0.37      0.49       687
        thai       0.89      0.64      0.75      1094
  vietnamese       0.78      0.46      0.58       573

    accuracy                           0.75     27842
   macro avg       0.73      0.65      0.67     27842
weighted avg       0.76      0.75      0.75     27842

              precision    recall  f1-score   support

   brazilian       0.37      0.49      0.42       141
     british       0.28      0.28      0.28       239
cajun_creole       0.61      0.54      0.57       479
     chinese       0.66      0.75      0.70       758
    filipino       0.39      0.56      0.46       235
      french       0.40      0.49      0.44       803
       greek       0.55      0.52      0.54       362
      indian       0.66      0.73      0.69       877
       irish       0.49      0.34      0.40       209
     italian       0.65      0.81      0.72      2366
    jamaican       0.67      0.43      0.52       168
    japanese       0.58      0.51      0.55       408
      korean       0.67      0.55      0.61       271
     mexican       0.79      0.80      0.80      1934
    moroccan       0.72      0.38      0.50       258
     russian       0.44      0.18      0.25       153
 southern_us       0.65      0.58      0.61      1272
     spanish       0.50      0.23      0.31       302
        thai       0.81      0.49      0.61       445
  vietnamese       0.58      0.34      0.43       252

    accuracy                           0.63     11932
   macro avg       0.57      0.50      0.52     11932
weighted avg       0.63      0.63      0.62     11932

In [444]:
df = pd.DataFrame(test_pred)
df.to_csv(r'C:\Users\91989\Documents\PYTHON\INSOFE_Internship\TASK2\knn_1_pred.csv')

# SVM

In [1]:
from sklearn.svm import SVC

In [5]:
svc_model=SVC()
#svc_line.set_params(classifier__kernel='linear',classifier__C=1,classifier__random_state=123)

In [69]:
svc_model.fit(X_train,y_train)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='rbf',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [402]:
test_data.head()

      id                                        ingredients
0  18009  baking powder eggs all-purpose flour raisins m...
1  28583  sugar egg yolks corn starch cream of tartar ba...
2  41580  sausage links fennel bulb fronds olive oil cub...
3  29752  meat cuts file powder smoked sausage okra shri...
4  35687  ground black pepper salt sausage casings leeks...

In [72]:
train_pred=svc_model.predict(X_train)
val_pred=svc_model.predict(X_val)

In [75]:
test_pred=svc_model.predict(test_data1)

In [73]:
from sklearn.metrics import classification_report

In [74]:
print(classification_report(y_train,train_pred))
print(classification_report(y_val,val_pred))

              precision    recall  f1-score   support

   brazilian       0.93      0.72      0.81       326
     british       0.86      0.61      0.71       565
cajun_creole       0.92      0.85      0.88      1067
     chinese       0.87      0.94      0.90      1915
    filipino       0.90      0.74      0.81       520
      french       0.77      0.81      0.79      1843
       greek       0.94      0.80      0.87       813
      indian       0.92      0.95      0.94      2126
       irish       0.91      0.62      0.74       458
     italian       0.85      0.96      0.90      5472
    jamaican       1.00      0.79      0.88       358
    japanese       0.94      0.79      0.86      1015
      korean       0.96      0.83      0.89       559
     mexican       0.94      0.96      0.95      4504
    moroccan       0.95      0.86      0.91       563
     russian       0.98      0.57      0.73       336
 southern_us       0.81      0.92      0.86      3048
     spanish       0.91      0.62      0.74       687
        thai       0.93      0.90      0.91      1094
  vietnamese       0.94      0.76      0.84       573

    accuracy                           0.88     27842
   macro avg       0.91      0.80      0.85     27842
weighted avg       0.89      0.88      0.88     27842

              precision    recall  f1-score   support

   brazilian       0.77      0.49      0.60       141
     british       0.60      0.27      0.37       239
cajun_creole       0.82      0.70      0.76       479
     chinese       0.74      0.89      0.81       758
    filipino       0.75      0.52      0.61       235
      french       0.59      0.62      0.60       803
       greek       0.83      0.66      0.73       362
      indian       0.85      0.91      0.88       877
       irish       0.75      0.43      0.54       209
     italian       0.74      0.91      0.82      2366
    jamaican       0.97      0.62      0.76       168
    japanese       0.83      0.58      0.68       408
      korean       0.90      0.70      0.79       271
     mexican       0.88      0.92      0.90      1934
    moroccan       0.90      0.70      0.79       258
     russian       0.69      0.24      0.35       153
 southern_us       0.65      0.80      0.71      1272
     spanish       0.73      0.38      0.50       302
        thai       0.79      0.78      0.78       445
  vietnamese       0.77      0.48      0.59       252

    accuracy                           0.77     11932
   macro avg       0.78      0.63      0.68     11932
weighted avg       0.77      0.77      0.76     11932

In [99]:
from sklearn.model_selection import GridSearchCV, RandomizedSearchCV

In [76]:
df = pd.DataFrame(test_pred)
df.to_csv(r'C:\Users\91989\Documents\PYTHON\INSOFE_Internship\TASK2\svm_pred.csv')

In [144]:
clf_svc=Pipeline(steps=[('tfidf_vectorizer', TfidfVectorizer(lowercase=True)),('classifier',SVC())])

#svc_param_grid={'classifier__C':[0.001,0.01,0.1,1,10,100],'classifier__gamma':[0,0.0001,0.01,0.1,1,10,100],
 #              "classifier__kernel":['linear','rbf','poly']}

In [95]:
#svc_grid=GridSearchCV(clf_svc,param_grid=svc_param_grid,cv=5)

In [145]:
train_data_new=train_data.sample(frac=0.8,random_state=200) #random state is a seed value
val_data=train_data.drop(train_data_new.index)

In [146]:
#Performing train val split on the data
X_train, y_train = train_data_new.loc[:,train_data_new.columns!='cuisine'], train_data_new.loc[:,'cuisine']

X_val, y_val = val_data.loc[:,val_data.columns!='cuisine'], val_data.loc[:,'cuisine']

In [147]:
X_train.ingredients.head()

8937     baking powder baking soda buttermilk salted bu...
29679    sliced almonds raisins dried apricot salt hone...
15616    baking potatoes monterey jack spanish chorizo ...
3239     large eggs unsalted butter lemon peel sugar fr...
17395    vegetable oil cooking spray vegetable oil all-...
Name: ingredients, dtype: object

In [148]:
clf_svc.fit(X_train.ingredients,y_train)

Pipeline(memory=None,
         steps=[('tfidf_vectorizer',
                 TfidfVectorizer(analyzer='word', binary=False,
                                 decode_error='strict',
                                 dtype=<class 'numpy.float64'>,
                                 encoding='utf-8', input='content',
                                 lowercase=True, max_df=1.0, max_features=None,
                                 min_df=1, ngram_range=(1, 1), norm='l2',
                                 preprocessor=None, smooth_idf=True,
                                 stop_words=None, strip_accents=None,
                                 sublinear_tf=False,
                                 token_pattern='(?u)\\b\\w\\w+\\b',
                                 tokenizer=None, use_idf=True,
                                 vocabulary=None)),
                ('classifier',
                 SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None,
                     coef0=0.0, decision_function_shape='ovr', degree=3,
                     gamma='scale', kernel='rbf', max_iter=-1,
                     probability=False, random_state=None, shrinking=True,
                     tol=0.001, verbose=False))],
         verbose=False)

In [85]:
train_pred=clf_svc.predict(X_train.ingredients)
val_pred=clf_svc.predict(X_val.ingredients)
test_pred=clf_svc.predict(test_data.ingredients)

In [86]:
print(classification_report(y_train,train_pred))
print(classification_report(y_val,val_pred))

              precision    recall  f1-score   support

   brazilian       0.97      0.81      0.88       370
     british       0.92      0.83      0.87       652
cajun_creole       0.93      0.88      0.90      1229
     chinese       0.91      0.97      0.94      2160
    filipino       0.97      0.87      0.92       606
      french       0.85      0.88      0.87      2100
       greek       0.96      0.88      0.92       937
      indian       0.94      0.98      0.96      2397
       irish       0.96      0.75      0.84       519
     italian       0.92      0.98      0.95      6288
    jamaican       0.99      0.89      0.94       420
    japanese       0.97      0.86      0.91      1147
      korean       0.98      0.93      0.95       660
     mexican       0.97      0.98      0.97      5148
    moroccan       0.97      0.92      0.95       649
     russian       0.98      0.76      0.86       384
 southern_us       0.90      0.95      0.92      3468
     spanish       0.94      0.75      0.84       788
        thai       0.94      0.94      0.94      1238
  vietnamese       0.96      0.84      0.90       659

    accuracy                           0.93     31819
   macro avg       0.95      0.88      0.91     31819
weighted avg       0.93      0.93      0.93     31819

              precision    recall  f1-score   support

   brazilian       0.84      0.55      0.66        97
     british       0.61      0.39      0.48       152
cajun_creole       0.82      0.68      0.75       317
     chinese       0.76      0.89      0.82       513
    filipino       0.79      0.56      0.66       149
      french       0.61      0.68      0.64       546
       greek       0.83      0.70      0.76       238
      indian       0.88      0.92      0.90       606
       irish       0.75      0.49      0.60       148
     italian       0.78      0.91      0.84      1550
    jamaican       0.94      0.74      0.83       106
    japanese       0.88      0.65      0.75       276
      korean       0.87      0.74      0.80       170
     mexican       0.91      0.92      0.92      1290
    moroccan       0.88      0.73      0.80       172
     russian       0.79      0.31      0.45       105
 southern_us       0.70      0.82      0.76       852
     spanish       0.68      0.45      0.54       201
        thai       0.82      0.79      0.81       301
  vietnamese       0.82      0.58      0.68       166

    accuracy                           0.79      7955
   macro avg       0.80      0.68      0.72      7955
weighted avg       0.80      0.79      0.79      7955

In [87]:
df = pd.DataFrame(test_pred)
df.to_csv(r'C:\Users\91989\Documents\PYTHON\INSOFE_Internship\TASK2\svm_cv_pred.csv')

In [85]:
#train_pred=clf_svc.predict(X_train.ingredients)
val_pred=clf_svc.predict(X_val.ingredients)
#test_pred=clf_svc.predict(test_data.ingredients)

In [86]:
print(classification_report(y_train,train_pred))
print(classification_report(y_val,val_pred))

              precision    recall  f1-score   support

   brazilian       0.97      0.81      0.88       370
     british       0.92      0.83      0.87       652
cajun_creole       0.93      0.88      0.90      1229
     chinese       0.91      0.97      0.94      2160
    filipino       0.97      0.87      0.92       606
      french       0.85      0.88      0.87      2100
       greek       0.96      0.88      0.92       937
      indian       0.94      0.98      0.96      2397
       irish       0.96      0.75      0.84       519
     italian       0.92      0.98      0.95      6288
    jamaican       0.99      0.89      0.94       420
    japanese       0.97      0.86      0.91      1147
      korean       0.98      0.93      0.95       660
     mexican       0.97      0.98      0.97      5148
    moroccan       0.97      0.92      0.95       649
     russian       0.98      0.76      0.86       384
 southern_us       0.90      0.95      0.92      3468
     spanish       0.94      0.75      0.84       788
        thai       0.94      0.94      0.94      1238
  vietnamese       0.96      0.84      0.90       659

    accuracy                           0.93     31819
   macro avg       0.95      0.88      0.91     31819
weighted avg       0.93      0.93      0.93     31819

              precision    recall  f1-score   support

   brazilian       0.84      0.55      0.66        97
     british       0.61      0.39      0.48       152
cajun_creole       0.82      0.68      0.75       317
     chinese       0.76      0.89      0.82       513
    filipino       0.79      0.56      0.66       149
      french       0.61      0.68      0.64       546
       greek       0.83      0.70      0.76       238
      indian       0.88      0.92      0.90       606
       irish       0.75      0.49      0.60       148
     italian       0.78      0.91      0.84      1550
    jamaican       0.94      0.74      0.83       106
    japanese       0.88      0.65      0.75       276
      korean       0.87      0.74      0.80       170
     mexican       0.91      0.92      0.92      1290
    moroccan       0.88      0.73      0.80       172
     russian       0.79      0.31      0.45       105
 southern_us       0.70      0.82      0.76       852
     spanish       0.68      0.45      0.54       201
        thai       0.82      0.79      0.81       301
  vietnamese       0.82      0.58      0.68       166

    accuracy                           0.79      7955
   macro avg       0.80      0.68      0.72      7955
weighted avg       0.80      0.79      0.79      7955

In [160]:
# save the model to disk
import pickle
filename = 'svc_best.pkl'
pickle.dump(clf_svc, open(filename, 'wb'))

In [151]:
# load the model from disk
svc_model = pickle.load(open('svc.pkl', 'rb'))
svc_model.fit(X_train.ingredients,y_train)

Pipeline(memory=None,
         steps=[('tfidf_vectorizer',
                 TfidfVectorizer(analyzer='word', binary=False,
                                 decode_error='strict',
                                 dtype=<class 'numpy.float64'>,
                                 encoding='utf-8', input='content',
                                 lowercase=True, max_df=1.0, max_features=None,
                                 min_df=1, ngram_range=(1, 1), norm='l2',
                                 preprocessor=None, smooth_idf=True,
                                 stop_words=None, strip_accents=None,
                                 sublinear_tf=False,
                                 token_pattern='(?u)\\b\\w\\w+\\b',
                                 tokenizer=None, use_idf=True,
                                 vocabulary=None)),
                ('classifier',
                 SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None,
                     coef0=0.0, decision_function_shape='ovr', degree=3,
                     gamma='scale', kernel='rbf', max_iter=-1,
                     probability=False, random_state=None, shrinking=True,
                     tol=0.001, verbose=False))],
         verbose=False)

In [87]:
df = pd.DataFrame(test_pred)
df.to_csv(r'C:\Users\91989\Documents\PYTHON\INSOFE_Internship\TASK2\svm_cv_pred.csv')

In [105]:
clf_svc=Pipeline(steps=[('tfidf_vectorizer', TfidfVectorizer(lowercase=True)),('classifier',SVC())])

In [106]:

svc_param_random={'classifier__C':[0.001,0.01,0.1,1,10,100],'classifier__gamma':[0,0.0001,0.01,0.1,1,10,100],
               "classifier__kernel":['linear','rbf','poly']}

In [108]:
svc_random=RandomizedSearchCV(clf_svc,param_distributions=svc_param_random,cv=5)

In [109]:
%%time
svc_random.fit(X_train.ingredients,y_train)

Wall time: 3h 9min 8s

RandomizedSearchCV(cv=5, error_score=nan,
                   estimator=Pipeline(memory=None,
                                      steps=[('tfidf_vectorizer',
                                              TfidfVectorizer(analyzer='word',
                                                              binary=False,
                                                              decode_error='strict',
                                                              dtype=<class 'numpy.float64'>,
                                                              encoding='utf-8',
                                                              input='content',
                                                              lowercase=True,
                                                              max_df=1.0,
                                                              max_features=None,
                                                              min_df=1,
                                                              ngram_range=(1,
                                                                           1),
                                                              norm='l2',
                                                              preprocessor=None,
                                                              smooth_idf=True,
                                                              stop_wor...
                                                  shrinking=True, tol=0.001,
                                                  verbose=False))],
                                      verbose=False),
                   iid='deprecated', n_iter=10, n_jobs=None,
                   param_distributions={'classifier__C': [0.001, 0.01, 0.1, 1,
                                                          10, 100],
                                        'classifier__gamma': [0, 0.0001, 0.01,
                                                              0.1, 1, 10, 100],
                                        'classifier__kernel': ['linear', 'rbf',
                                                               'poly']},
                   pre_dispatch='2*n_jobs', random_state=None, refit=True,
                   return_train_score=False, scoring=None, verbose=0)

In [111]:
train_pred=svc_random.predict(X_train.ingredients)
val_pred=svc_random.predict(X_val.ingredients)
#test_pred=clf_svc.predict(test_data.ingredients)

print(classification_report(y_train,train_pred))
print(classification_report(y_val,val_pred))

              precision    recall  f1-score   support

   brazilian       0.90      0.68      0.77       370
     british       0.71      0.59      0.65       652
cajun_creole       0.84      0.78      0.81      1229
     chinese       0.84      0.92      0.87      2160
    filipino       0.85      0.75      0.80       606
      french       0.68      0.74      0.70      2100
       greek       0.88      0.76      0.82       937
      indian       0.89      0.95      0.92      2397
       irish       0.83      0.59      0.69       519
     italian       0.85      0.93      0.88      6288
    jamaican       0.94      0.80      0.86       420
    japanese       0.92      0.76      0.83      1147
      korean       0.92      0.83      0.88       660
     mexican       0.93      0.94      0.94      5148
    moroccan       0.92      0.85      0.88       649
     russian       0.87      0.54      0.67       384
 southern_us       0.78      0.86      0.82      3468
     spanish       0.82      0.57      0.68       788
        thai       0.85      0.85      0.85      1238
  vietnamese       0.85      0.67      0.75       659

    accuracy                           0.85     31819
   macro avg       0.85      0.77      0.80     31819
weighted avg       0.85      0.85      0.85     31819

              precision    recall  f1-score   support

   brazilian       0.74      0.58      0.65        97
     british       0.56      0.38      0.45       152
cajun_creole       0.81      0.68      0.74       317
     chinese       0.77      0.88      0.82       513
    filipino       0.77      0.57      0.65       149
      french       0.58      0.66      0.62       546
       greek       0.79      0.70      0.74       238
      indian       0.87      0.91      0.89       606
       irish       0.71      0.51      0.59       148
     italian       0.78      0.88      0.83      1550
    jamaican       0.85      0.68      0.75       106
    japanese       0.84      0.66      0.74       276
      korean       0.82      0.72      0.77       170
     mexican       0.92      0.92      0.92      1290
    moroccan       0.86      0.74      0.80       172
     russian       0.60      0.31      0.41       105
 southern_us       0.68      0.80      0.74       852
     spanish       0.64      0.44      0.52       201
        thai       0.80      0.76      0.78       301
  vietnamese       0.74      0.56      0.64       166

    accuracy                           0.78      7955
   macro avg       0.76      0.67      0.70      7955
weighted avg       0.78      0.78      0.77      7955

# Adaboost

In [114]:
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.ensemble import AdaBoostClassifier

from xgboost import XGBClassifier
from sklearn.tree import DecisionTreeClassifier

In [115]:
param_grid = {'n_estimators' : [100, 150, 200],
              'learning_rate' : [0.1, 0.5, 0.9]}

#Adaboost_model_clf = GridSearchCV(AdaBoostClassifier(
 #           DecisionTreeClassifier(max_depth=2)), param_grid, n_jobs=-1)

In [451]:
# Create adaboost-decision tree classifer object
Adaboost_model_grid=Pipeline(steps=[('preprocessor',preprocessor),('classifier',GridSearchCV(AdaBoostClassifier(
            DecisionTreeClassifier(max_depth=2)), param_grid, n_jobs=-1))])

In [116]:
clf_adaboost=Pipeline(steps=[('tfidf_vectorizer', TfidfVectorizer(lowercase=True)),('classifier',GridSearchCV(AdaBoostClassifier(
            DecisionTreeClassifier(max_depth=2)), param_grid, n_jobs=-1))])

In [117]:
%%time
clf_adaboost.fit(X_train.ingredients,y_train)

Wall time: 18min 53s

Pipeline(memory=None,
         steps=[('tfidf_vectorizer',
                 TfidfVectorizer(analyzer='word', binary=False,
                                 decode_error='strict',
                                 dtype=<class 'numpy.float64'>,
                                 encoding='utf-8', input='content',
                                 lowercase=True, max_df=1.0, max_features=None,
                                 min_df=1, ngram_range=(1, 1), norm='l2',
                                 preprocessor=None, smooth_idf=True,
                                 stop_words=None, strip_accents=None,
                                 sublinear_tf=False,
                                 toke...
                                                                                                 min_samples_split=2,
                                                                                                 min_weight_fraction_leaf=0.0,
                                                                                                 presort='deprecated',
                                                                                                 random_state=None,
                                                                                                 splitter='best'),
                                                           learning_rate=1.0,
                                                           n_estimators=50,
                                                           random_state=None),
                              iid='deprecated', n_jobs=-1,
                              param_grid={'learning_rate': [0.1, 0.5, 0.9],
                                          'n_estimators': [100, 150, 200]},
                              pre_dispatch='2*n_jobs', refit=True,
                              return_train_score=False, scoring=None,
                              verbose=0))],
         verbose=False)

In [118]:
train_pred=clf_adaboost.predict(X_train.ingredients)
val_pred=clf_adaboost.predict(X_val.ingredients)
#test_pred=clf_svc.predict(test_data.ingredients)

print(classification_report(y_train,train_pred))
print(classification_report(y_val,val_pred))

              precision    recall  f1-score   support

   brazilian       0.59      0.34      0.43       370
     british       0.17      0.06      0.09       652
cajun_creole       0.77      0.37      0.50      1229
     chinese       0.63      0.48      0.55      2160
    filipino       0.40      0.27      0.32       606
      french       0.37      0.11      0.17      2100
       greek       0.83      0.33      0.47       937
      indian       0.82      0.75      0.78      2397
       irish       0.90      0.12      0.22       519
     italian       0.54      0.85      0.66      6288
    jamaican       0.88      0.33      0.48       420
    japanese       0.74      0.43      0.55      1147
      korean       0.33      0.67      0.44       660
     mexican       0.82      0.81      0.82      5148
    moroccan       0.84      0.47      0.61       649
     russian       0.73      0.10      0.17       384
 southern_us       0.35      0.60      0.44      3468
     spanish       0.28      0.06      0.11       788
        thai       0.64      0.61      0.63      1238
  vietnamese       0.48      0.38      0.42       659

    accuracy                           0.58     31819
   macro avg       0.60      0.41      0.44     31819
weighted avg       0.61      0.58      0.55     31819

              precision    recall  f1-score   support

   brazilian       0.61      0.26      0.36        97
     british       0.08      0.03      0.05       152
cajun_creole       0.72      0.34      0.46       317
     chinese       0.63      0.46      0.53       513
    filipino       0.36      0.23      0.28       149
      french       0.31      0.11      0.16       546
       greek       0.88      0.30      0.45       238
      indian       0.82      0.73      0.77       606
       irish       0.81      0.14      0.24       148
     italian       0.52      0.84      0.64      1550
    jamaican       0.73      0.21      0.32       106
    japanese       0.65      0.39      0.49       276
      korean       0.32      0.66      0.43       170
     mexican       0.82      0.80      0.81      1290
    moroccan       0.78      0.41      0.53       172
     russian       0.67      0.08      0.14       105
 southern_us       0.33      0.60      0.43       852
     spanish       0.21      0.04      0.07       201
        thai       0.65      0.62      0.64       301
  vietnamese       0.46      0.36      0.40       166

    accuracy                           0.55      7955
   macro avg       0.57      0.38      0.41      7955
weighted avg       0.58      0.55      0.53      7955

In [ ]:
# load the model from disk
svc_model = pickle.load(open('svc.pkl', 'rb'))
result = svc_model.score(X_test, Y_test)
print(result)

# meta classifier(Stacking)

In [163]:
pred1=pd.read_csv('sub1.csv')
pred2=pd.read_csv('sub2.csv')
pred3=pd.read_csv('sub3.csv')
pred4=pd.read_csv('sub4.csv')
pred5=pd.read_csv('svm_pred.csv')

In [169]:
frames = [pred1,pred2,pred3,pred4,pred5]
full_data = pd.concat(frames,axis=1)

In [170]:
full_data.head()

,id,cuisine,id,cuisine,id,cuisine,id,cuisine,id,cuisine
0,18009,british,18009,british,18009,british,18009,british,18009,british
1,28583,southern_us,28583,southern_us,28583,southern_us,28583,southern_us,28583,southern_us
2,41580,italian,41580,italian,41580,italian,41580,italian,41580,italian
3,29752,cajun_creole,29752,cajun_creole,29752,cajun_creole,29752,cajun_creole,29752,cajun_creole
4,35687,italian,35687,italian,35687,italian,35687,italian,35687,italian

In [171]:
full_data.drop("id",axis=1,inplace=True)

In [172]:
full_data.head()

        cuisine       cuisine       cuisine       cuisine       cuisine
0       british       british       british       british       british
1   southern_us   southern_us   southern_us   southern_us   southern_us
2       italian       italian       italian       italian       italian
3  cajun_creole  cajun_creole  cajun_creole  cajun_creole  cajun_creole
4       italian       italian       italian       italian       italian

In [173]:
full_data.columns=['cuisine1','cuisine2','cuisine3','cuisine4','cuisine5']

In [179]:
full_data1=full_data.mode(axis=1)

In [185]:
full_data1.head()

              0
0       british
1   southern_us
2       italian
3  cajun_creole
4       italian

In [184]:
full_data1.shape

(9944, 1)

In [183]:
full_data1.drop(1,axis=1,inplace=True)

In [188]:

full_data1.to_csv(r'C:\Users\91989\Documents\PYTHON\INSOFE_Internship\TASK2\whatscooking\full_data.csv')